{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block stylecss %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% endblock stylecss %} 
{% block content %}
    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">About Us</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Read The History & Our Acchivements</h1>
                        <a href="about">Learn more</a>
                        <a href="contact">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 {% endblock %}

{% block body %}
{% load static %}
<p style="color:white;"> ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................</p>
<br><br>
<div class="aboutus-section">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="aboutus">
               <h2>About Us! </h2><br>
               <p class="aboutus-text">Online learning involves courses offered by primary institutions that are 100% virtual. Online learning, or virtual classes offered over the internet, is contrasted with traditional courses taken in a brick-and-mortar school building. It is a development in distance education that expanded in the 1990s with the spread .</p>
                 <br>
                 <p class="aboutus-text">the commercial Internet and the World Wide Web. The learner experience is typically asynchronous but may also incorporate synchronous elements. The vast majority of institutions utilize a learning management system for the administration of online courses. As theories of distance education evolve, digital technologies to support learning and pedagogy continue to transform as well.</p>
                 <br>
                 <p>Education is inspired by our ancient education system called Gurukul. Unlike our current education system where the quality education is only accessible to only those who all well off financially, the gurukul education system was open to everyone where the student could join even the best of education institute in the world without paying any upfront fee. We also allow the student to join the Digikull education by paying a very small upfront fee and the rest of the fee is paid in the form of GURU DAKSHINA after getting the job.</p>
                <br>
                 <p>Unlike our current education system where the quality education is only accessible to only those who all well off financially, the gurukul education system was open to everyone where the student could join even the best of education institute in the world without paying any upfront fee. We also allow the student to join the Digikull education by paying a very small upfront fee and the rest.</p>
                 <a class="aboutus-more" href="#">read more</a>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aboutus-banner">
                  <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
              </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
              <div class="feature">
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Work with heart</h4>
                              <p>If you have access to the internet at home, here is a list of fun, free educational websites for kids as well as phone and tablet apps to help keep kids learning at home. Most study websites include reading and math games, videos, stories and more and all indicate what are age and grade appropriate.</p>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>Public Support</h4>
                              <p>Public opinion, an aggregate of the individual views, attitudes, and beliefs about a particular topic, expressed by a significant proportion of a community. Some scholars treat the aggregate as a synthesis of the views of all or a certain segment of society; others regard it as a collection of many differing or opposing views. </p>
                          </div>
                      </div>
                  </div>
                  <br>
                  <div class="feature-box">
                      <div class="clearfix">
                          <div class="iconset">
                              <span class="glyphicon glyphicon-cog icon"></span>
                          </div>
                          <div class="feature-content">
                              <h4>History</h4>
                              <p>E-coding learning plateform was istblaced in 2002, education is inspired by our ancient education system called Gurukul. Unlike our current education system where the quality education is only accessible to only those who all well off financially, the gurukul education system was open to everyone where the student could join even the best.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  
{% endblock body %}
