{% load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>  {% block title %}Home{% endblock title %}</title>
    
{% include 'includes/stylesheets.html' %}
</head>
<body>
    <div class="loader_bg">
        <div class="loader"></div>
    </div>
    
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">E-Learning<span>.</span> </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="/about" class="nav-link scrollto "><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="/blog" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Blog</span></a></li>                    
                    <li><a href="/internshipdetails" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Internship</span></a></li>
                    <li><a href="/contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
                    
                    
            {% if not request.user.is_authenticated %}

                    <li><a href="/auth/signup/" class="nav-link scrollto"><i class="bx bx-user"></i> <span>SignUp</span></a></li>
               
                         <li><a href="/auth/login/" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Login</span></a></li>
               {% else %}
               
                         <li><a href="/auth/logout/" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Logout</span></a></li>
               {% endif %}
               
                
                
                
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Hello,Learner</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Create Innovative future with us</h1>
                        <a href="about">Learn more</a>
                        <a href="contact">Get in touch</a><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
  <main id="main">
    {% block body %}
    
    {% endblock body %}
  
    </main>

    {% block footer %}
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <a href="https://www.facebook.com/" class="fa fa-facebook"style="font-size:30px;color:red;"></a> &nbsp; &nbsp; 
                    <a href="https://www.youtube.com/" class="fa fa-youtube" style="font-size:30px;color:red;"></a> &nbsp;&nbsp; 
                    <a href="https://www.google.com/" class="fa fa-google"style="font-size:30px;color:red;" ></a> &nbsp;&nbsp; 
                    <a href="https://in.linkedin.com/" class="fa fa-linkedin"style="font-size:30px;color:red;"></a>  &nbsp;&nbsp; 
                    <a href="https://www.instagram.com/" class="fa fa-instagram"style="font-size:30px;color:red;"></a>  &nbsp;&nbsp; 
                    
                    <br><br>
                    <p>&copy;Copyright 2019</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} 
{% include 'includes/scripts.html' %}
</body>
</html>